.footer {
    margin-top: 60px;
    display: flex;
    background: url("../assets/images/bg.jpg") center/cover no-repeat;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 10%; 
    background-color: #f8f8f8; 
    border-top: 1px solid #e0e0e0;
    height: 133px ;
  
    &__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      h4 {
        font-size: 14px;
        color: #F6F6F6;
        font-weight: 100;
        margin: 0;
      }
  
      .footer__rule {
        display: flex;
        gap: 20px;
  
        a {
          font-size: 14px;
          color: #B5B5B5;
          text-decoration: none;
          text-decoration: underline;
  
          
        }
      }
    }
  
    &__btn {
        width: 234px;
        height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      border-color: #fff;
      border: 2px solid #fff;
      border-radius: 5px;
  
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }

      img {
        width: 24px;
        height: 24px;
      }
  
      p {
        text-transform: uppercase ;
        padding-left: 20px;
        font-weight: 100;
        font-size: 14px;
        color: #fff;
        margin: 0;
      }
    }
  }


  @media(max-width: 750px ){
    .footer{
      padding-left: 30px;

      &__info{
        .footer__rule{
        a{
          font-size: 1.2vh;
        }
      }
      }
      &__btn{
        width: 20vw;
        gap: 0%;
        p {
          padding-left: 5px ;
          font-size: 1.2vh;
        }
        img{
          width: 14px;
          height: 14px;
        }
        
      }
    }
  }